<% provide(:title, 'ユーザー一覧') %>
<div class="user_lst">
  <%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  <% @users.each do |user| %>
    <div class="user_pnl">
      <%= image_tag user.image_url %>
      <%= link_to user.name, user %>
      <%= content_tag :span, user.books.count, class: "fa fa-book" %>
      <div class="twitter_link">
        <%= link_to "https://twitter.com/#{user.nickname}" do %>
          <i class="fa fa-twitter" aria-hidden="true"></i> 
        <% end %>
      </div>
    </div>
  <% end %>
  <%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>