<% provide(:title, 'ユーザー一覧') %>
<div class="user_lst">
  <%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  <% @users.each do |user|%>
    <div class="user_pnl">
      <%= image_tag user.image_url %>
      <%= link_to user.name, user %>
      <%= link_to  "Twitter ->", "https://twitter.com/#{user.nickname}" %>
    </div>
  <% end %>
  <%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>