<% provide(:title, "#{@user.name}さんのページ") %>
<div class="usershw_pnl">
  <%= image_tag  @user.image_url %>
  <%= @user.name %>
  <!--<% if currentuser_correct? %>
     <%= link_to "本を登録する", search_path, :class => "btn btn-info"%>
  <% end %>-->
  <%= content_tag :span, @user.books.count, class: "fa fa-book" %>
  <%= link_to "https://twitter.com/#{@user.nickname}" do%>
    <i class="fa fa-twitter" aria-hidden="true"></i>
  <% end %>
</div>
<div class='book_lst'>
  <%= render 'users/list' %>
</div>