<div id='book_list' >
  <%= @user.name %>
  <%= "@#{@user.nickname}"%>
  <%= image_tag  @user.image_url %>
  <%= link_to "退会はこちらをクリック", @user , :method => :delete %>
</div>
<div id='book_list'>
  <%= render 'users/list' %>
</div>