<header>
  <nav class="navbar navbar-expand-md navbar-light fixed-top slide-header">
    <div class="container">
      <%= link_to "rebook", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <% if logged_in? %>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to "MYPAGE", user_path(@current_user.id), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "USERS", users_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "LOGOUT", logout_path, method: :delete, class: "nav-link" %>
            </li>
          </ul>
            <%= form_with(url: search_path, method: :get, class: "form-inline my-2 my-lg-0", local: true) do |f| %>
              <%= f.text_field :keyword, placeholder: "本のタイトルを入力", class: "form-control" %>
              <%= button_tag type: "submit", class: "btn btn-outline-dark my-2 my-sm-0" do %><i class="fa fa-search"></i><% end %>  
            <% end %>
        <% else %>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to 'LOGIN', '/auth/twitter', class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "USERS", users_path, class: "nav-link" %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>
</header>

<script>
$(function(){
  var startPos = 0;
  $(window).scroll(function(){
    var currentPos = $(this).scrollTop();
    if (currentPos > startPos) {
      $('.slide-header').addClass('hide');
    } else {
      $('.slide-header').removeClass('hide');
    }
    startPos = currentPos;
  });
});
</script>